<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.assuncao.ru">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:targetApi="31">
        <activity
            android:name="com.assuncao.ru.cardapios.SabadoActivity"
            android:exported="true"
            android:label="@string/toolbar_sabado"
            android:parentActivityName=".ui.DiasCardapioActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MeuRU"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.assuncao.ru.cardapios.SextaFeiraActivity"
            android:exported="true"
            android:label="@string/toolbar_sexta"
            android:parentActivityName=".ui.DiasCardapioActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MeuRU"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.assuncao.ru.cardapios.QuintaFeiraActivity"
            android:exported="true"
            android:label="@string/toolbar_quinta"
            android:parentActivityName=".ui.DiasCardapioActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MeuRU"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".cardapios.QuartaFeiraActivity"
            android:exported="true"
            android:label="@string/toolbar_quarta"
            android:parentActivityName=".ui.DiasCardapioActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MeuRU"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".cardapios.TercaFeiraActivity"
            android:exported="true"
            android:label="@string/toolbar_terca"
            android:parentActivityName=".ui.DiasCardapioActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MeuRU"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".cardapios.SegundaFeiraActivity"
            android:exported="true"
            android:label="@string/toolbar_segunda"
            android:parentActivityName=".ui.DiasCardapioActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MeuRU"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.DiasCardapioActivity"
            android:exported="true"
            android:label="@string/txt_tela_dias_semana"
            android:parentActivityName=".MenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MeuRU"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.SobreActivity"
            android:exported="true"
            android:label="@string/txt_tela_sobre"
            android:parentActivityName=".MenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MeuRU"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.DeclaracaoQRcode"
            android:exported="true"
            android:label="@string/txt_tela_declaracao"
            android:parentActivityName=".MenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MeuRU"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".services.FichasRefeicaoActivity"
            android:exported="true"
            android:label="@string/txt_tela_fichas"
            android:parentActivityName=".MenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MeuRU"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".MenuActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MeuRU.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".services.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>